.footer-bg {
	background: $textColor;
}

footer {
	color: #fff;
	line-height: 1.125rem;
	padding: 2rem 0;

	.span2,
	.span3,
	.span5 {
		display: block;
		float: none;
		width: 100%;
	}

	ul, ol {
		list-style: none;
		padding: 0;

		li {
			margin-bottom: .5rem;
			padding-left: 0;
			text-indent: 0;
		}
	}

	a {
		color: #fff;
		display: block;
		padding: .6875rem 40px .6875rem 15px;
		position: relative;
		z-index: 1;

		&:before {
			@include linkEffect();
		}

		&:after {
			@include linkArrow();
		}

		&:focus, &:active {

			&:before {
				right: 0;
			}
		}
	}
	
	.footer-nav {
		list-style: none;
		margin: 0 0 $margin;
		overflow: hidden;
		padding: 0;
	}
	
	.menu-item-has-children {

		> a {
			font-family: $lato_bold;
			font-size: .6125em;
			font-weight: $bold;
			letter-spacing: 0.05em;
			margin-left: -5px;
			padding-left: 5px;
			text-transform: uppercase;
		}
	}

	.sub-menu {
		margin-top: 0;
		@extend .main-nav;

		a {
			font-family: $lato_light;
			font-size: .75em;
			font-weight: $light;
		}
	}
}

.footer-news {
	font-family: $lato_bold;
	font-size: .6125em;
	font-weight: $bold;
	letter-spacing: 0.05em;
	margin-left: -5px;
	padding-left: 5px;
	text-transform: uppercase;
}

.about-widget {
	font-family: $lato_bold;
	font-size: .6125em;
	font-weight: $bold;
	letter-spacing: 0.05em;
	margin-bottom: $margin;
	text-transform: uppercase;

	a {
		display: inline;
		padding: 0;

		&:after {
			display: none;
		}
	}

	.textwidget {
		font-family: $lato_light;
		font-size: 1.25em;
		font-weight: $light;
		letter-spacing: 0em;
		margin-top: .625rem;
		text-transform: none;
	}
}

.contact-widget {
	@extend .about-widget;

	.tel {
		display: block;
	}

	.textwidget {

		a {
			margin-bottom: .5rem;
			padding: .6875rem 40px .6875rem 15px;
		}
	}

	i {
		font-size: 1.25em;
		margin-right: .5rem;
	}
}